.row {
	display: flex;
	flex-direction: row;
}

.box {
	flex: 1;
	width: 179px;
	height: 149px;
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	font-family: "Courier New";
	font-size: 26px;
	font-weight: bold;
	margin: 5px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.cardTop {
	display: flex;
	justify-content: center;
}

.cardBottom {
	display: flex;
	justify-content: center;
	color: #3e3e3e;
	font-size: 16px;
	transform: rotate(0.5turn);
}